p {
	text-underline-position: under;
	text-decoration-color: black;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
	color: red;
	font-weight: bold;
	font-size: xx-large;
	background-image: url("Calc.jpg");
	background-repeat:no-repeat;
	background-position: center top 10px; /*top 10px drops the image so it's not cut off at the top */
	text-decoration: red underline;
	
}

button {
    border: 1 px solid black;
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
	background-color: white;
    font-weight: bold;
    width: 100px;
    margin-bottom: 5px;
    border-radius: 5px;
}